a {
    color: mediumpurple;
    text-decoration: none;
    background-color: lightcoral;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
    background-color: #faf8a7;
}

button {
    outline: 1px;
    background-color: darkorange;
}

button:focus {
    outline: 10px;
    background-color: lightcoral;
}

div {
    background-color: lightcoral;
}

